# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Віртуальні середовища
venv/
.venv/
env/
ENV/

# Pip / build
build/
dist/
*.egg-info/
.eggs/

# Логи
*.log

# =========================
# Windows сміття
# =========================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# =========================
# IDE / редактори
# =========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# =========================
# TTS / аудіо / моделі
# =========================
*.wav
*.mp3
*.flac
*.ogg

# Якщо є моделі або кеш
models/
checkpoints/
cache/
*.pt
*.pth
*.onnx

# =========================
# Тимчасові файли
# =========================
temp/
tmp/
*.tmp

# =========================
# Твій конкретний файл
# =========================
бекапи+ тести/
TTS\
tts_cache\
voices\
core_gui_copy.py_бекап
ДОСТУПНІ МІКРОФОНИ.txt
створи план вдосконалення коду.txt
*.bak
*.rar
*.diff
*.bat